<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let comment of post.comments">
      {{ comment.body }}
      <a [routerLink]="[post.id, comment.id, 'comment-edit']" class="card-link"
        >edit</a
      >
    </li>
  </ul>
  <div class="card-body">
    <a [routerLink]="[post.id, 'comment-create']" class="card-link"
      >Add Comment</a
    >
  </div>
</div>
